<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="测试百度搜索" skipfailedinvocationcounts="true">
        <parameter name="content" value="测试开发"></parameter>
        <classes>
<!--            <class name="com.base.cases.BaiduSearchCase">-->
<!--                <methods>-->
<!--                    <include name="testBaiduSearchCase"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="com.base.cases.DeepSeekLoginCase">
                <parameter name="accountNumber" value="17771787353"></parameter>
                <parameter name="password" value="ds123456"></parameter>
                <methods>
                    <include name="loginCase" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
